<h1>If else</h1>
<button (click)="toggleFruit()">Toggle</button>
@if (isApple) {
  <p>This is an apple</p>
} @else {
  <p>This is not an apple</p>
}

<h1>Switch case</h1>
@switch (fruit) {
  @case ('Apple') { <p>You selected an Apple.</p> }
  @case ('Orange') { <p>You selected an Orange.</p> }
  @case ('Banana') { <p>You selected a Banana.</p> }
  @default { <p>Unknown Fruit.</p> }
}

<h1>For loop</h1>
@for (fruit of fruits; track $index) {
  <ul>
    <li>{{fruit}}</li>
  </ul>
} @empty {
  Empty list of fruits
}

<app-gantt></app-gantt>
<router-outlet />
